<!DOCTYPE html>
<html>
<head>
	<title>Get-started</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='face.css')}}">
</head>
<body  id="body">
<div  class="container-fluid">
<div style="background-color:white;padding: 10px 10px">
<h1 style="margin-left:40%;color: rgb(247, 7, 167)">DREAM LAND</h1>
<hr>
<div class="intro">
	<p style="color:teal;font-family:georgia;font-size:18px; margin-left:10%;padding:12%;">Set your goals and dreams, they are now very easy to achieve with your new bucketlist.</p>
	
<button style="width:50%;margin-left:25%;padding:2%;border-radius:2px;background-color: rgb(247, 7, 167) " ><a style="margin-left:0%;font-size:16px;font-family: georgia;color: white" id="get" href="{{ url_for('login') }}">Get Started</a></button>
</div>

</div>


	
<!-- <form method="POST" action="/send">
<div style="color:#c0c0c0" class="box">
<div class="form">
<label>Username</label>
<br>
<input type="text" name="Username">
<br>
<label>Password</label>
<br>
<input type="text" name="Password">
</div>
<br>
<input id="sub" type="submit" name="submit">
<br>
<p>You don't have an account!?<a href="{{ url_for('signup') }}">Signup</a></p>
</div>
</div>
</form> -->
</div>
</body>
</html>